/* Main COntent */
.content{
    flex: 1;
}

.content #content_title{
    padding: 0 10px;
    font-size: 25px;
    margin: 60px 0 20px 0;
    color: rgb(122, 122, 190);
}
.content #content_title h1{
    margin: 0;
}

#top_cards{
    color: white;
    display: flex;
    justify-content: space-between; 
    margin-right: 10px;
    margin-bottom: 20px;
}

.card {
    background-color: #2d2d44;
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

.card p {
    font-size: 24px;
    margin: 0;
}

#chart_cards{
    color: white;
    display: flex;
    margin-right: 10px;
    margin-bottom: 20px;
}
.charts{
    background-color: #2d2d44;
    padding: 20px;
    margin: 0 10px;
    flex: 1 1 100%;
    text-align: center;
    border-radius: 8px;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: none;
}

.charts canvas {
    width: 100% !important;
    height: auto !important;
    max-height: 300px;
}
#product{
    color: white;
    display: flex;
    margin-right: 10px;
    margin-bottom: 20px;
}
.product-table h3{
    padding: 20px 0 5px 30px;
}
.product-table button{
    background-color: #357e37;
    color: white;
    padding: 10px 20px;
    margin: 0 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.product-table button:hover{
    background-color: #1d421e;
}
#product .product-table{
    background-color: #2d2d44;
    margin: 0 10px;
    flex: 1 1 100%;
    border-radius: 8px;;
    min-height: none;
}
.product-table table{
    width: calc(100% - 40px);
    margin: 20px;
    border-collapse: collapse;
    box-sizing: border-box;
    height: auto;
}

.product-table table th, .product-table table td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #3a3a58;
}