/* Main body - contains all elemnt */
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: rgb(31, 31, 44);
    display: block;
}
.main_container{
    display: flex;
}
/* Sidebar */
.sidebar{
    margin: 15px;
    padding: 0;
    background-color: rgb(41, 41, 59);
    min-width: 250px;
    border-radius: 10px;
    height: 95vh;
    box-shadow: 0 2px 4px rgb(183, 19, 233);
}

.sidebar .sidebar_header{
    padding: 20px 0;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 20;
}

.sidebar nav ul {
    padding: 0;
    margin: 0;
}

.sidebar nav ul li{
    padding: 0 0 0 10px;
    margin-bottom: 10px;
    color: gray;
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

.sidebar nav ul li button{
    padding: 20px 0;
    padding-left: 20px;
    border: none;
    border-radius: 8px 0 0 8px;
    background-color: rgb(41, 41, 59);
    color: white;
    text-align: left;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;

}
#current_page{
    background-color: rgb(31, 31, 44);
}

.sidebar nav ul li button:hover{
    cursor: pointer;
    background-color: rgb(21, 21, 54);
    transition: color 1 ease-in-out;
}

@media (max-width: 500px){
    .sidebar{
        display: none;
    }
}
